*{
    margin: 0;padding: 0;box-sizing: border-box;
}
body{
    color:white;
    
}
.container{
    /* background: linear-gradient(to right , #fcf,#f4f4); */
    display: flex;
   padding: 40px;
    width:100%;
    overflow: hidden;
    height:560px;
  box-shadow: 0 10px 4px rgb(212, 210, 210);
  
    position: relative;
}
.container .image-left{
    width:50%;
    height:100%;
}
.container .image-left img{
    width:100%;
    object-fit: cover;
    height:100%;
}
.container .infor-right{
    width:50%;
    text-align: center;
    justify-content: center;
    height:100%;
    background: linear-gradient(to right, #50C9C3,#96DEDA)
}

.container .infor-right .music-song .music-song-title{
   padding-top: 11rem;
   padding-bottom: 1.4rem;
}

.container .infor-right .music-singer .music-singer-name{
padding-bottom: 10px;
}
.container .infor-right .wrap-btn{
   margin-top: 20px;
   display: flex;
   justify-content: space-around;
  
}

.container .infor-right .wrap-btn i{
    font-size: 2rem;
   
    cursor: pointer;
   
    
}
.container .infor-right .wrap-btn #btn-toggle{
    width:60px;
    height:60px;
   
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.container .music-track .track-input{
width:100%;
margin-top: 1.4rem;
}

.container .music-loop svg{
    cursor: pointer;
}
.container .infor-right .music-track {
    position: relative;
}
.container .infor-right .music-track .track-input{
    z-index: 4;
    position: absolute;
    left:0;
   
   
  
}
.container .infor-right .music-track .processbar{
    width:100%;
  border: 1px solid rgb(30, 214, 238);
height:6px;
position: relative;

z-index: 1;
top:43px;

}
.container .infor-right .music-track .processbar #length{
    width:0%;
height:6px;
background: rgba(60, 5, 212, 0.411);
position: absolute;
}
.music-number{
justify-content: space-between;
display: block;
}
.music-number .number{
 border: none;
 font-size: 20px;
 width:30px;
 height:20px;
 margin: 10px;
 cursor: pointer;
}
.active{
    color:green;
}